<div class="sk-cube-grid">
  <div class="sk-cube sk-cube1" ng-class="_settings.class"></div>
  <div class="sk-cube sk-cube2" ng-class="_settings.class"></div>
  <div class="sk-cube sk-cube3" ng-class="_settings.class"></div>
  <div class="sk-cube sk-cube4" ng-class="_settings.class"></div>
  <div class="sk-cube sk-cube5" ng-class="_settings.class"></div>
  <div class="sk-cube sk-cube6" ng-class="_settings.class"></div>
  <div class="sk-cube sk-cube7" ng-class="_settings.class"></div>
  <div class="sk-cube sk-cube8" ng-class="_settings.class"></div>
  <div class="sk-cube sk-cube9" ng-class="_settings.class"></div>
</div>